.about-heading {
  text-align: center;
}

.about-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between; // optional for spacing
  gap: 2rem; // adds space between boxes
  margin-top: 4rem;
}

.images-box {
  width: 25rem;
  height: auto;
  
}

.detail-box {
  width: 40rem;
  height: auto;
}

.images-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
p {
  font-size: 1rem;
  color: black;
  font:Outfit;
  line-height: 1.7;
}
button {
  padding: 1rem 1rem;
  background-color: white;
}
.quality_parent_div{
    display: flex;
    
}
.quality_div{
    padding:3rem;
    justify-content: center;
    border:1px soild grey;
    height: 10rem;
    width: auto;
}
