.footer {
    background-color:white;
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 5rem;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .logo_tilte{
     display:flex;
  }
  
  .company-info {
    flex: 1;
    min-width: 250px;
  }
  
  .company-info img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .company-info h2 {
    color: #000B6D;
    margin-bottom: 0.5rem;
  }
  
  .company-info p {
    text-align: justify;
    line-height: 1.6;
  }
  
  .links-contact {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    min-width: 250px;
    margin-top: 5rem;
  }
  
  .footer-links h2,
  .footer-contact h2 {
    margin-bottom: 0.5rem;
    color: #000B6D;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 0.5rem;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #000B6D;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-contact p {
    margin: 0.5rem 0;
  }
  
  hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
  }
  
  .footer-bottom span {
    text-align: justify;
  }
  